<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>UCAN</title>


    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
     <!-- font icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type="text/css">
      .alignright{
      float: right;
      }
      .ddalignright{
      float: right !important;
      }
      .aligncenter{
        text-align: center !important;
      }
      .aligncn{
        vertical-align: center;
      }
      .allowscroll{
        overflow-y: auto;
        height: 300px;
      }
      #notif.dropdown-menu>li>a{
        white-space: normal;
      }
      .nooutline{
        border: none;
        background-color: #eeeeee;
      }
    </style>

  </head>

  <body ng-app="myApp">
    <div ng-view>
    </div>

    <!-- template for modal -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{$ctrl.quesTitle}}</h3>
        </div>

        <div class="modal-body" style="overflow-y: auto; height:450px;" id="modal-body">
          <div ng-repeat="msg in $ctrl.messages">
            <div ng-if="msg.type == 1">
              <div class="talk-bubble tri-right round left-in col-md-12">
               <div class="talktext">
                 <p>{{msg.text}}</p>
               </div>
              </div>
            </div>

            <div ng-if="msg.type == 2">
              <div class="talk-bubble tri-right round right-in">
                <div class="talktext">
                  <p>{{msg.text}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      <!--end modal body here-->

       <div class="modal-footer">
         <center>
           <div class="row">
             <div class="col-md-10">
               <textarea class="form-control tri-right right-in textpad" rows="1" placeholder="Your message here" ng-model="$ctrl.textToSend"></textarea>
             </div>
             <button type="submit" class="btn btn-primary btnpad" ng-click="$ctrl.sendText()">Send Text</button>
           </div>
         </center>

         <br>
         <button type="submit" class="btn btn-danger col-md-12" ng-click="$ctrl.ok()"> End Chat </button>
       </div>
    </script>
    <!-- end of modal template -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/loginController.js"></script>
 		<script type="text/javascript" src="js/homeController.js"></script>
    <script type="text/javascript" src="js/settingsController.js"></script>
    <script type="text/javascript" src="js/postQuesController.js"></script>
    <script type="text/javascript" src="js/quesAnswerController.js"></script>
    <script type="text/javascript" src="js/expertsController.js"></script>
    <script type="text/javascript" src="js/notificationsController.js"></script>
    <script type="text/javascript" src="js/searchController.js"></script>
    <script type="text/javascript" src="js/modalController.js"></script>
  </body>

</html>
