<div ng-app="myApp" ng-controller="home">
  <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   <div class="container col-md-12">
     <a class="navbar-brand" href="#">UCAN</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#"><i class="fa fa-home"></i>
             <span class="sr-only">(current)</span>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#"><i class="fa fa-plus"></i></a>
         </li>
       </ul>
     </div>
   </div>
 </nav>



 <nav>
   <ul class="nav nav-tabs">
     <li class="nav-item ">
       <a class="nav-link active show" data-toggle="tab" href="#noviceques">Novice</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#expertques">Expert</a>
     </li>

     <!--Nav item on the right-->
     <li class="nav-item dropdown ddright">
          <!-- *Removed the href from dropdown as menu wasn't opening
                Also bind User Name to actual username fetched        -->
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Name</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
           <!-- <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>-->
          </ul>
        </li>
   </ul>

   <div id="myTabContent" class="tab-content">
     <div class="tab-pane fade active show" id="noviceques">
      <p></p>
         <!-- Page Content -->
         <div class="container">
           <div class="row">
             <div class="col-md-12" ng-if="ques_i_flag == true">
               <!-- Question Cards-->
               <div ng-repeat="quesI in quesIArr" class="card mb-4 h-10">
                <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
                 <div class="card-body">
                   <h2 class="card-title">{{quesI.title}}</h2>
                   <p class="text-muted col-md-12">Tags: <label ng-repeat="tag in quesI.tagnamelist">{{tag}}&nbsp;</label></p>
                   <!-- Change href link to question-ans page of this question when Read More clicked -->
                   <a href="#" class="btn btn-primary btnright ">Read More &rarr;</a>
                 </div>
                 <div class="card-footer text-muted">
                   Posted on {{quesI.timestamp}}
                 </div>
               </div>

               <!-- Pagination -->
               <ul class="pagination justify-content-center mb-4">
                 <li class="page-item">
                   <a class="page-link" href="#">&larr;</a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="#">1</a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="#">2</a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="#">3</a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="#">4</a>
                 </li>
                 <li class="page-item ">
                   <a class="page-link" href="#">&rarr;</a>
                 </li>
               </ul>

             </div>
             <div class="col-md-12" ng-if="ques_i_flag != true">
               <p>No questions available!</p>
             </div>
             </div>
             <!-- /.row -->
           </div>
         <!-- /.container -->

     </div>
     <div class="tab-pane fade" id="expertques">
       <p></p>
       <!-- Page Content for Expert Tab-->
         <div class="container">
           <div class="row">
             <!-- Column -->
             <div class="col-md-12" ng-if="ques_e_flag == true">
               <!-- Question Cards-->
               <div ng-repeat="quesE in quesEArr" class="card mb-4 h-10">
                 <div class="card-body">
                   <h2 class="card-title">{{quesE.title}}</h2>
                   <p class="text-muted col-md-12">Tags: <label ng-repeat="tag in quesE.tagnamelist">{{tag}}&nbsp;</label></p>
                   <!-- Change link to question-ans page when Read More clicked -->
                   <a href="#" class="btn btn-primary btnright ">Read More &rarr;</a>
                 </div>
                 <div class="card-footer text-muted">
                   Posted on {{quesE.timestamp}}
                 </div>
               </div>

               <!-- Pagination -->
               <ul class="pagination justify-content-center mb-4">
                 <li class="page-item">
                   <a class="page-link" href="#">&larr;</a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="#">1</a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="#">2</a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="#">3</a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="#">4</a>
                 </li>
                 <li class="page-item ">
                   <a class="page-link" href="#">&rarr;</a>
                 </li>
               </ul>
             </div>
             <div class="col-md-12" ng-if="ques_e_flag != true">
               <p>No questions available!</p>
             </div>
             </div>
             <!-- /.row -->
           </div>
         <!-- /.container -->
     </div>
     <div class="tab-pane fade" id="dropdown1">
       <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
     </div>
     <div class="tab-pane fade" id="dropdown2">
       <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
     </div>
   </div>
 </nav>

 <!-- Footer -->
 <footer class="py-5 bg-dark">
   <div class="container">
     <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
   </div>
   <!-- /.container -->
 </footer>
</div>
