<div ng-app="myApp" ng-controller="homeCtrl as $ctrl">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/home">UCAN</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav alignright">
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input placeholder="Search" class="form-control" ng-model="$ctrl.searchtext">
              </div>
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.search()"><i class="fa fa-search"></i></button>
            </form>
          </li>
          <li>
            <a href="#"><!-- to put space between home and search--></a>
          </li>
          <li class="active">
            <a href="#!/home">
              <i class="fa fa-home"></i>
              </a>
          </li>
          <li>
            <a href="#!/askQues">
              <i class="fa fa-plus"></i>
            </a>
          </li>

          <li ng-if="$ctrl.notif_flag == false" class="dropdown" >
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></a>
            <ul class="dropdown-menu allowscroll" style="padding: 10px;">
              <li class="aligncenter">No notifications available!</li>
              <li class="divider aligncenter" role="separator"></li>
              <li class="aligncenter"><a href="#!/notifications">See all notifications &rarr;</a></li>
            </ul>
          </li>

          <li ng-if="$ctrl.notif_flag == true" ng-click="$ctrl.onClickNotif()" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"><span class="badge">{{$ctrl.notif_length}}</span></i></a>
            <ul class="dropdown-menu allowscroll" style="padding: 10px;">
              <div ng-repeat="notification in $ctrl.notifArr">

                <div ng-if="notification.ntype === 'seekerrequest'">
                  <li style="padding: 5px;" class="aligncenter"><a ng-href={{notification.link}}><p>{{notification.message}}</p></a></li>
                  <div ng-if="notification.state === 'unread'">
                    <a ng-click="$ctrl.sessionStatus(notification.nid, $ctrl.userid, notification.qid, 1)"><i class="fa fa-check" style="float: left;" aria-hidden="true">Accept</i></a>
                    <a ng-click="$ctrl.sessionStatus(notification.nid, $ctrl.userid, notification.qid, 2)"><i class="fa fa-times" style="float: right;" aria-hidden="true">Reject</i></a>
                    <br>
                  </div>
                </div>

                <div ng-if="notification.ntype === 'answer'">
                  <li style="padding: 5px;" class="aligncenter"><a ng-href={{notification.link}} ng-click="$ctrl.notifStatus(notification.nid)"><p>{{notification.message}}</p></a></li>
                </div>

                <div ng-if="notification.ntype ==='requeststatus'">
                  <li style="padding: 5px;" class="aligncenter"><p>{{notification.message}}</p></li>
                </div>

                <div ng-if="notification.ntype === 'discussion'">
                  <li style="padding: 5px;" class="aligncenter"><p>{{notification.message}}</p></li>
                  <div ng-if="notification.state === 'unread'">
                    <a ng-click="$ctrl.open('lg', notification.qid, notification.title, notification.otheruserid, notification.otherusername)"><i class="fa fa-check" aria-hidden="true">Start Session</i></a>
                    <br>
                  </div>
                </div>
                <li class="divider aligncenter" role="separator"></li>
              </div>
              <li class="aligncenter"><a href="#!/notifications">See all notifications &rarr;</a></li>
            </ul>
          </li>

          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container theme-showcase" role="main">


   <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item ">
        <a class="nav-link " data-toggle="tab" data-target="#expert">Expert</a>
      </li>
      <li class="nav-item active show">
        <a class="nav-link" data-toggle="tab" data-target="#novice">Novice</a>
      </li>
      <li class="dropdown ddalignright">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#!/settings">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li ng-click="$ctrl.logoutUser()"><a>Logout</a></li>
            </ul>
      </li>
    </ul>

    <!--Divs for tab content i.e. expert and novice-->
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="expert">
        <p></p>
        <!-- Page Content -->
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div ng-if="$ctrl.ques_e_flag == true">
                <div class="jumbotron" ng-repeat="quesE in $ctrl.quesEArr">
                 <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-1">
                        <i class="fa fa-angle-up fa-2x"></i>
                        <h5>{{quesE.upvote}}</h5>
                      </div>

                      <div class="col-md-11">
                        <div class="container">
                          <h2 class="">{{quesE.title}}</h2>
                          <p class="text-muted">Tags:<label ng-repeat="tag in quesE.tagnamelist">{{tag}}&nbsp;</label>
                            <a href="#!/question/{{quesE.questionid}}" class="btn btn-primary alignright ">Read More &rarr;</a>
                          </p>
                          <h5><i>Status: {{quesE.state}} </i></h5>
                          <div>
                            <h5><i>Posted on {{quesE.timestamp}} by {{quesE.username}}</i></h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-1">
                        <h5>{{quesE.downvote}}</h5>
                        <i class="fa fa-angle-down fa-2x"></i>
                      </div>
                  </div>
                 </div>
                </div>
              </div>
              <div ng-if="$ctrl.ques_e_flag == false">
                No questions available!
              </div>
              </div>
              <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->

            <nav aria-label="Page navigation">
              <center>
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li ng-class="{'active': $ctrl.pageEActive[page.id]}" ng-repeat ="page in $ctrl.pageEArr"><a ng-click="$ctrl.expertCards(page.id)">{{page.id}}</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </center>
            </nav>
          </div>
          <!-- /.container -->
      </div>

      <div class="tab-pane fade active in" id="novice">
        <p></p>
        <!-- Page Content -->
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div ng-if="$ctrl.ques_i_flag == true">
                <div class="jumbotron" ng-repeat="quesI in $ctrl.quesIArr">
                 <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-1">
                        <i class="fa fa-angle-up fa-2x"></i>
                        <h5>{{quesI.upvote}}</h5>
                      </div>

                      <div class="col-md-11">
                        <div class="container">
                          <h2 class="">{{quesI.title}}</h2>
                          <p class="text-muted">Tags:<label ng-repeat="tag in quesI.tagnamelist">{{tag}}&nbsp;</label>
                            <a href="#!/question/{{quesI.questionid}}" class="btn btn-primary alignright ">Read More &rarr;</a>
                          </p>
                          <h5><i>Status: {{quesI.state}} </i></h5>
                          <div>
                            <h5><i>Posted on {{quesI.timestamp}} by {{quesI.username}}</i></h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-1">
                        <h5>{{quesI.downvote}}</h5>
                        <i class="fa fa-angle-down fa-2x"></i>
                      </div>
                  </div>
                 </div>
                </div>
              </div>
              <div ng-if="$ctrl.ques_i_flag == false">
                No questions available!
              </div>
              </div>
            </div>
            <!-- /.row -->

            <nav aria-label="Page navigation">
              <center>
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li ng-class="{'active': $ctrl.pageIActive[page.id]}" ng-repeat ="page in $ctrl.pageIArr"><a ng-click="$ctrl.interestCards(page.id)">{{page.id}}</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </center>
            </nav>
          </div>
          <!-- /.container -->
      </div>
    </div>
  </nav>


  </div> <!-- /container -->
</div>
