<div ng-app="myApp" ng-controller="searchCtrl as $ctrl">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/home">UCAN</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav alignright">
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input placeholder="Search" class="form-control" ng-model="$ctrl.searchtext">
              </div>
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.search()"><i class="fa fa-search"></i></button>
            </form>
          </li>
          <li>
            <a href="#"><!-- to put space between home and search--></a>
          </li>
          <li class="active">
            <a href="#!/home">
              <i class="fa fa-home"></i>
              </a>
          </li>
          <li>
            <a href="#!/askQues">
              <i class="fa fa-plus"></i>
            </a>
          </li>

          <li ng-if="$ctrl.notif_flag == false" class="dropdown" >
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></a>
            <ul class="dropdown-menu allowscroll" style="padding: 10px;">
              <li class="aligncenter">No notifications available!</li>
              <li class="divider aligncenter" role="separator"></li>
              <li class="aligncenter"><a href="#!/notifications">See all notifications &rarr;</a></li>
            </ul>
          </li>

          <li ng-if="$ctrl.notif_flag == true" ng-click="$ctrl.onClickNotif()" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"><span class="badge">{{$ctrl.notif_length}}</span></i></a>
            <ul class="dropdown-menu allowscroll" style="padding: 10px;">
              <div ng-repeat="notification in $ctrl.notifArr">

                <div ng-if="notification.ntype === 'seekerrequest'">
                  <li style="padding: 5px;" class="aligncenter"><a ng-href={{notification.link}}><p>{{notification.message}}</p></a></li>
                  <div ng-if="notification.state === 'unread'">
                    <a ng-click="$ctrl.sessionStatus(notification.nid, $ctrl.userid, notification.qid, 1)"><i class="fa fa-check" style="float: left;" aria-hidden="true">Accept</i></a>
                    <a ng-click="$ctrl.sessionStatus(notification.nid, $ctrl.userid, notification.qid, 2)"><i class="fa fa-times" style="float: right;" aria-hidden="true">Reject</i></a>
                    <br>
                  </div>
                </div>

                <div ng-if="notification.ntype === 'answer'">
                  <li style="padding: 5px;" class="aligncenter"><a ng-href={{notification.link}} ng-click="$ctrl.notifStatus(notification.nid)"><p>{{notification.message}}</p></a></li>
                </div>

                <div ng-if="notification.ntype ==='requeststatus' || notification.ntype === 'discussion'">
                  <li style="padding: 5px;" class="aligncenter"><p>{{notification.message}}</p></li>
                </div>

                <li class="divider aligncenter" role="separator"></li>
              </div>
              <li class="aligncenter"><a href="#!/notifications">See all notifications &rarr;</a></li>
            </ul>
          </li>

          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container theme-showcase" role="main">

    <div ng-if="$ctrl.search_flag == false">
      <h5>No questions found that match your search query!</h5>
    </div>

    <!-- If questions found then display cards -->
    <div ng-if="$ctrl.search_flag == true">
      <div class="page-header aligncenter">
         <h4>Results for '{{$ctrl.text}}'</h4>
      </div>

      <div class="panel panel-primary" ng-repeat="ques in $ctrl.quesArr">
        <div class="panel-heading">
          <h3 class="panel-title">{{ques.title}}</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">

              <div class="col-md-1">
                <i class="fa fa-angle-up">{{ques.upvote}}</i>
              </div>

              <div class="col-md-11">
                <p class="text-muted">Tags: <label ng-repeat="tag in ques.tagnamelist">{{tag}}&nbsp;</label>
                  <a href="#!/question/{{ques.questionid}}" class="btn btn-primary alignright ">Read More &rarr;</a>
                </p>
                <div class="text-muted">
                  Posted on {{ques.timestamp}} by
                  <a href="#">{{ques.username}}</a>
                </div>
              </div>

              <div class="col-md-1">
                <i class="fa fa-angle-down">{{ques.downvote}}</i>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div> <!-- /container -->
</div>
